@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo img{
    height: 70px;
    border-right: 1px solid #E5E5E5;
    padding-right: 20px;
}

nav{
    margin: 50px 0;
 
}
nav li{
    display: inline;
    list-style-type: none;
    padding-right: 5px;
}

nav a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }
#banner{
    height: 600px;
    background-image: url(img/banner.jpg);
    border-radius: 15px 15px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.2);
    height: 600px;
    border-radius: 15px 15px;
}

.bannertext{
    position: absolute;
    bottom:75px;
    width: 50%;
    margin-left: 70px;
}

.col::after{
    content: "";
    clear:both;
    display: table;
}

main{
    margin: 0px auto 60px auto;
}

.colhead{
    height: 100px;
    padding: 30px 0;
}

.col{
    margin: 10px auto;
}

.colsx, .colcx, .coldx{
    float: left;
    width: 20%;
    height: 500px;
}

.colcx{
    margin: auto 1%;
    width: 58%;
}
.imgsx{
    background-image: url(img/img-1.jpg);
    height: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h5{
    margin: 10px auto;
}

.imgcx{
    background-image: url(img/banner-2.jpg);
    height: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imgdx{
    background-image: url(img/img-3.jpg);
    height: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer{
    text-align: center;
    margin: 20px auto;
}
footer div::after{
    content: "\2764";
    color: red;
}