@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo img{
    height: 70px;
    border-right: 1px solid #E5E5E5;
    padding-right: 20px;
}

nav{
    margin: 50px 0;
}
nav li{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

nav a{
    text-decoration: none;
}

.banner{
    height: 500px;
    background-image: url(img/banner.jpg);
    border-radius: 15px 15px;
    background-size: cover;

}

  