@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    height: 70px;
    border-right: 1px solid #E5E5E5;
    padding-right: 20px;
}
